swagger: '2.0'
info:
  version: 0.1.0
  title: Vality Api Keys API
  description: |
    Vality API Keys Management API является интерфейсом для управления набором API-ключей, используемых для авторизации запросов к основному API с ваших бэкенд-сервисов. Любые сторонние приложения, включая ваш личный кабинет, являются внешними приложениями-клиентами данного API.
    Мы предоставляем REST API поверх HTTP-протокола, схема которого описывается в соответствии со стандартом [OpenAPI 3][OAS3]. Коды возврата описываются соответствующими HTTP-статусами. Платформа принимает и возвращает значения JSON в теле запросов и ответов.
    [OAS3]: https://swagger.io/specification/
    ## Идентификатор запроса
    При любом обращении к API в заголовке `X-Request-ID` соответствующего запроса необходимо передать его уникальный идентификатор:
    ```
        X-Request-ID: 37d735d4-0f42-4f05-89fa-eaa478fb5aa9
    ```
    ## Формат содержимого
    Любой запрос к API должен выполняться в кодировке UTF-8 и с указанием содержимого в формате JSON.
    ``` Content-Type: application/json; charset=utf-8 ```
    ## Максимальное время обработки запроса
    При любом обращении к API в заголовке `X-Request-Deadline` соответствующего запроса можно передать параметр отсечки по времени, определяющий максимальное время ожидания завершения операции по запросу:
    ```
        X-Request-Deadline: 10s
    ```
    По истечении указанного времени система прекращает обработку запроса. Рекомендуется указывать значение не более одной минуты, но не менее трёх секунд.
    `X-Request-Deadline` может:
    * задаваться в формате `date-time` согласно
        [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339);
    * задаваться в относительных величинах: в миллисекундах (`150000ms`), секундах (`540s`) или
        минутах (`3.5m`).
  termsOfService: https://vality.dev/
  contact:
    name: Technical support team
    email: support@vality.dev
    url: https://api.vality.dev
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
host: api.vality.dev
basePath: /apikeys/v2
schemes:
  - https
consumes:
  - application/json; charset=utf-8
produces:
  - application/json; charset=utf-8
security:
  - bearer: []
tags:
  - name: apiKeys
    x-displayName: API-ключи
  - name: errorCodes
    x-displayName: Коды ошибок
    description: |
      ## Общие ошибки
      Ошибки возникающие при попытках совершения недопустимых операций, операций с невалидными объектами или несуществующими ресурсами. Имеют следующий вид:
      ```json {
          "code": "string",
          "message": "string"
      } ```
      В поле `message` содержится информация по произошедшей ошибке. Например:
      ```json {
          "code": "invalidRequest",
          "message": "Property 'name' is required."
      } ```
      ## Ошибки обработки запросов
      В процессе обработки запросов силами нашей платформы могут происходить различные непредвиденные ситуации. Об их появлении платформа сигнализирует по протоколу HTTP соответствующими [статусами][5xx], обозначающими ошибки сервера.
      |  Код    |  Описание  | | ------- | ---------- | | **500** | В процессе обработки платформой запроса возникла непредвиденная ситуация. При получении подобного кода ответа мы рекомендуем обратиться в техническую поддержку. | | **503** | Платформа временно недоступна и не готова обслуживать данный запрос. Запрос гарантированно не выполнен, при получении подобного кода ответа попробуйте выполнить его позднее, когда доступность платформы будет восстановлена. | | **504** | Платформа превысила допустимое время обработки запроса, результат запроса не определён. Попробуйте отправить запрос повторно или выяснить результат выполнения исходного запроса, если повторное исполнение запроса нежелательно. |
      [5xx]: https://tools.ietf.org/html/rfc7231#section-6.6

      Если вы получили ошибку, которой нет в данном описании, обратитесь в техническую поддержку.
parameters:
  requestID:
    name: X-Request-ID
    in: header
    description: Unique identifier of the request to the system
    required: true
    type: string
    maxLength: 32
    minLength: 1
  deadline:
    name: X-Request-Deadline
    in: header
    description: Maximum request processing time
    required: false
    type: string
    maxLength: 40
    minLength: 1
  apiKeyId:
    name: apiKeyId
    in: path
    description: Идентификатор ключа
    required: true
    type: string
    minLength: 1
    maxLength: 40
  apiKeyRevokeToken:
    name: apiKeyRevokeToken
    in: query
    description: Токен отзыва ключа
    required: true
    type: string
    minLength: 1
    maxLength: 4000
  partyId:
    name: partyId
    in: path
    description: Идентификатор участника
    required: true
    type: string
    minLength: 1
    maxLength: 40
  limit:
    name: limit
    in: query
    description: Selection limit
    required: true
    type: integer
    format: int32
    minimum: 1
    maximum: 1000
responses:
  BadRequest:
    description: Invalid input data for operation
    schema:
      $ref: '#/responses/BadRequest'
  NotFound:
    description: The content you are looking for was not found
  Unauthorized:
    description: Authorization error
securityDefinitions:
  bearer:
    type: apiKey
    name: Authorization
    in: header
    description: |
      Use [JWT](https://jwt.io) for call authentication. The corresponding key is passed in the header.
      ```shell
       Authorization: Bearer {YOUR_API_KEY_JWT}
      ```
